body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* header da página */
header {
    position: fixed; /* era absolute */
    background-color: #404040;  
    width: 100%;
    top: 0;
    display: flex;  
    align-items: center; 
    margin: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
}

.logo {
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 50px;
}

.logo a img {
    height: 100px;
    width: 100px;
}
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo a h1 {
    font-family: 'Rowdies', 'sans-serif';
    color: #ebebeb;
    font-size: 220%;
}

.menu-toggle {
    display: none;
    font-size: 180%;
    color: #dadada;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.lista-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.lista-menu li a {
    text-decoration: none;
    font-family: 'sans-serif';
    color: #dadada;
    font-size: 120%;
}

.space {
    height: 100px;
    background-color: #404040;     
}

.banner-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    color: #ffffff;
    z-index: 1;
}

.banner-container::before {
    content: '';
    position: absolute;
    background-color: #40628ee0;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sqr {

    position: absolute;
    z-index: 3;
    box-shadow: 5px 5px 5px  #0000003b;
    background-color: #40404027;
}

.sqr1 {
    width: 15vw;
    aspect-ratio: 1 / 1;
    top: -3vw;
    left: -3vw;
    transform: rotate(25deg);
}

.sqr2 {
    width: 15vw;
    aspect-ratio: 1 / 1; 
    bottom: -3vw;
    right: -3vw;
    transform: rotate(125deg);
}

.sqr3 {
    width: 12%;
    aspect-ratio: 1 / 1;
    bottom:-5vw;
    left: 20%;
    transform: rotate(-115deg);
}

.sqr4 {
    width: 12%;
    aspect-ratio: 1 / 1;
    top: -4vw;
    right: 20%;
    transform: rotate(35deg);
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    z-index: 5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 0% 20%;
}

.banner-titulo {
    position: relative;
    font-family: 'Rubik Mono One', 'sans-serif';
    padding: 0%;
    margin: 0%;
    font-size: 160%;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    align-content: center;
    height: 49%;
}

.banner-titulo1, .banner-titulo3 {
    text-align: left;
}

.banner-titulo2, .banner-titulo4 {
    text-align: right;
}

.state1 {
    transform: translateX(0);
    transition: transform 1s  ease-out, opacity 1s  ease-in;
}

.state2 {
    transform: translateX(-100vw);
    transition: transform 1s ease-out, opacity 1s ease-in;
    opacity: 0;
}

.state3 {
    transform: translateX(100vw);
    opacity: 0;
}
/*
.show {
    opacity: 1;
} */

/* botão lateral para mudança de idioma */
.idioma {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #40628ebe;
    padding: 10px 0;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
}

.idioma img {
    height: 20px;
    width: 51px;
    min-height: 20px;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.idioma a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.tooltip {
    display: block;
    font: "Mukta", "Arial";
    margin: 0% 0px;
    padding: 0 0 0 0;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-weight: 800;
    width: 0;
    transition: width 0.7s ease-out;
}

.idioma:hover .tooltip{
    width: 60px;
}

.idiom {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #40628ebe;
    padding: 10px 0;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
}

.idiom img {
    height: 20px;
    width: 51px;
    min-height: 20px;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.idiom a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.idiom:hover .tooltip{
    width: 75px;
}

.contt {
    position: fixed;
    left: 50px;
    bottom: 60px;
    z-index: 100;
    align-content: center;
    
}

.contt a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.contt img{
    width: 50px;
    height: 50px;
    justify-content: center;
    background: linear-gradient(#25d366, #1d753d);
    border-radius: 20%;
    padding: 6px;
    z-index: 100;

}

.contt p {
    display: block;
    padding: 0;
    margin: 0;
    background: linear-gradient(#25d366, #1d753d);
    border-radius: 0;
    width: 0px;
    text-wrap: nowrap;
    color: #ffffff;
    font-family: 'Mukta', 'Arial';
    opacity: 0;
    transition: opacity 0.3s ease, width 0.1s ease, padding 0.3s ease, margin 0.3s ease, border-radius 0.3s ease;
    z-index: 99;
    text-align: center;
    overflow: hidden;
}

.contt:hover p {
    opacity: 1;
    width: 150px;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 20px;
}

/* Main */
main {
    background-color: #ebebeb;
    padding: 3% 0;
}

/* Seção apresentação - missão, quem atendemos, resultados */
.apresentacao {
    width: 60%;
    margin: 2% auto;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

.apresentacao h2 {
    background: linear-gradient(300deg, #40628ee8, #4040408f);
    height: 100%;
    background-blend-mode: color;
    font-family: 'Arial', 'sans-serif';
    font-size: 200%;
    font-weight: 900;
    padding: 1%;
    animation: 5s infinite alternate colorTr;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: pointer;
    border-radius: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    box-shadow: inset -3px -3px 5px #40628e;
}

@keyframes colorTr {
    0% {
        background-color: rgba(255, 255, 255, 0.7);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.apresentacao p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0% auto;
    width: 90%;
}

.apresentacao li {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0% auto;
    width: 90%;
}

.missao {
    height: 0;
    overflow: hidden;
    padding: 0% 5%;
    transition: margin 0.6s ease-out, transform 0.6s ease-out, opacity 0.6s ease-in;
    align-content: center;
    margin: 0 auto;
    transform: translateX(100%);
    opacity: 0;
}

.missao.active {
    height: initial;
    margin: 3% auto;
    transform: translateX(0%);
    opacity: 1;
}

/* Seção principais artigos */
.ultimos-artigos {
    padding: 2% 5%;
    border-radius: 20px;
}

.right {
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-blend-mode:lighten;
    font-family: 'Arial', 'sans-serif';
    font-size: 200%;
    font-weight: 900;
    padding: 1%;
    text-align: left;
    padding-left: 5%;
}

.ultimos-artigos div {
    padding: 5%;
}

.ultimos-artigos p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0%;
}

.art {
    padding: 0 5%;
}

.art div {
    padding: 2%;
    border: 1.5px solid #3a3a3a98;
    border-radius: 20px;
    background-color: #f7f7f7;
    border-top-color: rgb(180, 180, 180);
    border-top-width: 2px;
    border-left-color: rgb(180, 180, 180);
    border-left-width: 2px;
    border-bottom-color: #f7f7f7;
    border-right-color: #f7f7f7;           
}

.art p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 10% 0%;
}

.art .leia {
    text-align: right;
} 

.art h2 {
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Arial', 'sans-serif';
    font-size: 150%;
    padding: 2% 3% 2%;
    text-align: start; 
}

.art a {
    text-decoration: none;
    color: black;
}

.impar {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-in;
}

.impar.visible {
    transform: translateY(0%);
    opacity: 1;
}

/* Seção empresas */
.empresas {
    position: relative;
    padding: 2% 5%;
}

.empresas div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.empresas ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    background-color: #ebebeb;
    padding: 0% 5%;
    justify-content: center;
    gap: 10%;
    margin: auto;
    width: 80%;
}

.parceiro {
    position: relative;
    padding: 5px;
    margin: auto;
    width: 80%;
    text-align: center;
}

.bitflowin img {
    width: 100%; /* 400px */
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.medcao img {
    width: 70%; /* 300px */
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Títulos de páginas */
main h1{
    text-align: left;
    font-family: 'Rubik Mono One', 'sans-serif';
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0% 20% 0;
}

.h1-artigos{
    padding: 0% 10% 0;
    font-size: 180%;
}

.h1-sobre {
    font-size: 180%;
    padding: 0;
}

.h1-arts {
    font-size: 200%;
    font-family: 'Arial', 'sans-serif';
    font-weight: 900;
}

.h2-arts {
    font-size: 130%;
    font-family: 'Arial', 'sans-serif';
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 1% 20% 0;
}

/* Títulos das divisões e estilização geral do corpo */

.artigo {
    padding: 2% 20%;
}

.artigo > p {
    margin: 3% 5%;
    font-family: 'Mukta', 'Arial';
    text-align: justify;

}

.corpo .right, .corpo .left {
    background-color: #ebebeb;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Arial', 'sans-serif';
    font-size: 170%;
    font-weight: 900;
    padding: 1%;
    width: fit-content;
}

.corpo .left {
    align-self: center;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    text-align: center;
    margin: auto;
}

.corpo .right {
    margin-left: 30%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: left;
    padding-left: 10%;
}

.corpo ul {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0%;
}

/* página serviços */

.servico {
    padding: 2% 5%;
}

.h2-servico {
    text-align: left;
    margin: 0 5%;
    padding: 0% 0%;
    font-size: 160%;
    font-family: 'Rubik Mono One', 'sans-serif';
    font-weight: lighter;
}

.corpo-servico {
    margin: 3% 5%;
    & > p {
        font-family: 'Mukta', 'Arial';
        padding: 0%;
        text-align: left; 
        width: 60%;

    }
}

.etapa-servico {
    border-radius: 10px;
    margin: 1% 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    box-shadow: inset -3px -3px 5px #40628e;
    transition: width 0.5s ease;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff69;
}

.titulo-etapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;    
    text-align: left;
}

.titulo-etapa span {
    width: 40px;
    height: 40px;
    margin: 0;
    color: white;
    font-size: 120%;
    padding: 1%;
    border-top-left-radius: 10px;
    background: linear-gradient(300deg, #40628ee8, #404040e8);
}

.titulo-etapa > h2 {
    background-color: #ffffff69;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    
    align-content: center;
    text-align: left;
}

.texto-etapa {    
    align-content: center;
    display: block;
    text-align: justify;
    font-family: 'Mukta', 'Arial';
    background-color: rgba(255, 255, 255, 0.7);

    background-repeat: no-repeat;
    background-position: center ; /* #404040a9  #40628e15 */
    background-size: 100% 100%;
    background-blend-mode:lighten;
    border-radius: 10px;   
    height: 0;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out,
                opacity 0.7s ease-in-out,
                height 0.5s ease;
}

.img-etapa-visual {
    background-image: url(kanban-quadro-992px.webp);
}

.img-etapa-transp {
    background-image: url(transparencia-992px.webp);
}

.img-etapa-overburden {
    background-image: url(cfd.webp);
}

.img-etapa-dados {
    background-image: url(histograma.webp);
}

.img-etapa-coop {
    background-image: url(coop-992px.webp);
}

.img-etapa-revisao {
    background-image: url(revisao-992px.webp);
}

.img-etapa-cliente {
    background-image: url(cliente-992px.webp);
}

.etapa-content {
    position: relative;
    padding: 0 10%;
    height: inherit;
    width: inherit;
    align-content: center;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: rgb(0, 0, 0);
    }

.act {
    height: 220px;
    transform: translateX(0%);
    opacity: 1;
    margin: 3%;
}

/* Footer */
footer {
    height: 100px;
    background-color: #404040;
    align-content: center;
}

.networks {
    display: flex;
    width: 180px;
    margin-right: 5%;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
} 

.networks > * {
    margin: 0;
    padding: 2%;
}

.networks h4 {
    text-align: center;
    color: #ebebeb;
    font-family: 'Mukta', 'Arial';
}

footer div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0;
}

footer div ul li a {
    text-decoration: none;     
}

footer div ul li:hover{
    background-color: #858585;
    border-radius: 20%;
}

footer div ul li a img {
    height: 30px;
    width: 30px;
}

/* Responsividade */
@media screen and (min-width: 1280px) {
    .logo {margin-left: 100px;}
    .menu {right: 100px;}
    .lista-menu {gap: 80px}
    .img-etapa-visual {
        background-image: url(kanban-quadro-1300px.webp);
    }
    .img-etapa-transp {
        background-image: url(transparencia-1300px.webp);
    }
    .img-etapa-coop {
        background-image: url(coop-1300px.webp);
    }

    .img-etapa-revisao {
        background-image: url(revisao-1300px.webp);
    }

    .img-etapa-cliente {
        background-image: url(cliente-1300px.webp);
    }
    
}

@media screen and (max-width: 992px) {
    .lista-menu {
        gap: 25px;
    }

    .apresentacao {
        width: 80%;
    }

    .banner {
        padding: 0% 10%;
    }

    .empresas ul {
        width: 100%;
    }

    .artigo {
        padding: 2% 10%;
    }

    .corpo-servico > p{
        width: 70%;
    }
    .etapa-servico {
        width: 70%;
    }

    .act {
        height: 220px;
    }
}

@media screen and (max-width: 768px) { 
    /* alterar menu */
    .menu-toggle {
        display: flex;
    }
    .lista-menu {
        display: none;
        position: absolute;
        top: 70px;
        right: -50px;
        background-color: #404040;
        flex-direction:row;
        width: 450px;
        padding: 10px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        gap: 15%;
        animation: 1s 0s menuAnime;
    }

    @keyframes menuAnime {
        0% {
            opacity: 0;   
        }

        100% {
            opacity: 1;
        }        
    }

    .lista-menu.active {
        display: flex;
    }

    .banner-container {
        height: 250px;
    }

    .banner-titulo {
        font-size: 170%;
        height: 44%;
    }

    .banner-texto {
        font-size: 150%;
        height: 54%;
    }

    .h1-arts {
        font-size: 180%;
    }

    .h2-arts {
        font-size: 110%;
    }

    .apresentacao h2 {
        font-size: 160%;
    }

    .ultimos-artigos .right {
        font-size: 150%;
    }

    .corpo .right, .corpo .left {
        font-size: 150%;
    }

    .art h2 {
        font-size: 120%;
        font-weight: 800;
    }

    .art p {
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; line-clamp: 3; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
    }

    .corpo-servico > p{
        width: 80%;
    }

    .etapa-servico {
        width: 80%;
    }

    .act {
        height: 220px;
    }

    .img-etapa-visual {
        background-image: url(kanban-quadro-768px.webp);
    }

    .img-etapa-coop {
        background-image: url(coop-768px.webp);
    }

    .img-etapa-revisao {
        background-image: url(revisao-768px.webp);
    }

    .img-etapa-cliente {
        background-image: url(cliente-768px.webp);
    }
}

@media screen and (max-width: 625px){  
    .banner-titulo {
        font-size: 140%;
    }

    .banner-texto {
        font-size: 120%
    }

    .corpo .right, .corpo .left {
        font-size: 120%;
    }

    .h1-arts {
        font-size: 150%;
        text-align: center;
    }

    .h2-arts {
        font-size: 100%;
        text-align: center
    }

    .apresentacao h2 {
        font-size: 150%
    }

    .right {
        font-size: 130%;
    }

    .art h2 {
        font-size: 100%;
        font-weight: 800;
    }

    .corpo-servico > p {
        width: 90%;
    }

    .etapa-servico {
        width: 93%;
    }

    .etapa-content {
        line-height: 150%;
    }

    .act {
        height: 220px;
    }
} 

@media screen and (max-width: 540px) {   
    .logo {
        margin-left: 20px;
    }

    .menu {
        right: 20px;
    }
    
    .lista-menu {
        right: -20px;
        gap: 30px;
        width: 400px;
    }

    .banner-container {
        height: 200px;
    }

    .banner-titulo {
        font-size: 120%;
    }

    .banner-texto {
        font-size: 100%
    }

    .missao {
        padding: 0 0;
    }

    .empresas ul {
        gap: 0%;
    }

    .etapa-servico {
        width: 95%;
    }

    .corpo-servico > p{
        width: 95%;
    }

    .titulo-etapa > h2 {
        font-size: 120%;
    }

    .texto-etapa {
        background: none;
    }

    .act {
        height: 250px;
    }
}

@media screen  and (max-width: 450px) {
    /* reduzir fonte titulos das chamadas de artigos */
    .logo {
        margin-left: 15px;
    }

    .menu {
        right: 15px;
    }

    .logo a img {
        height: 70px;
        width: 70px;
    }
    .logo a h1 {
        font-size: 170%;
    }
    
    .menu-toggle {
        font-size: 150%;
    }

    .lista-menu {
        top: 52px;
        right: -15px;
        flex-direction:column;
        width: 200px;
        padding: 10px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        gap: 15%;
    }

    .lista-menu li {
        padding: 5px 0;  
    }

    .space {
        height: 70px;
    }

    .banner {
    padding: 0% 5%;
    }

    .banner-titulo {
        font-size: 100%;
    }

    .banner-texto {
        font-size: 80%
    }

    .apresentacao {
        width: 90%;
    }

    .apresentacao h2 {
        font-size: 120%;
    }

    .ultimos-artigos .right {
        padding: 3% 0;
        font-size: 120%;
    }

    .art {
        padding: 0 0 5%;
    }

    .artigo {
        padding: 2% 5%;
    }
    .empresas .right {
        font-size: 110%;
        padding-left: 0%;
    }

    .empresas ul {
        padding: 0% 0%;
    }

    .parceiro {
        width: 100%;
    }

    .corpo-servico > p {
        width: 100%;
    }

    .titulo-etapa > h2 {
        font-size: 95%;
        padding: 0 3%;
    }

    .act {
        height: 320px;
    }
}

@media screen and (max-height: 500px ) {
    header {
        position: absolute;
    }
}

/*
Resumo breakpoints:
Dispositivos móveis (Smartphones - retrato) = 320px a 480px
Dispositivos móveis (Smartphones - paisagem) = 480px a 768px
Tablets (modo retrato) = 768px a 1024px
Tablets (modo paisagem) ou notebooks menores = 1024px a 1280px
Desktops (resoluções normais) = 1280px a 1440px
Desktops grandes e monitores maiores = 1440px e superiores

notebook = width: 1365px
celular = width: 408px (retrato); 701px (paisagem)
monitor = width: 1915px
*/