body {
    width: 100%;
    margin: 0;
    padding: 0;
}
active
* {
    box-sizing: border-box;
}

/* header da página */
header {
    position: absolute;
    background-color: #404040;  
    width: 100%;
    top: 0;
    display: flex;  
    align-items: center; 
    margin: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
}

.logo {
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 50px;
}

.logo a img {
    height: 100px;
    width: 100px;
}
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo a h1 {
    font-family: 'Rowdies', 'sans-serif';
    color: #ebebeb;
    font-size: 220%;
}

.menu-toggle {
    display: none;
    font-size: 180%;
    color: #dadada;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 50px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.lista-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.lista-menu li a {
    text-decoration: none;
    font-family: 'sans-serif';
    color: #dadada;
    font-size: 120%;
}

.space {
    height: 100px;
}

/* botão lateral para mudança de idioma */
.idioma {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #40628ebe;
    padding: 10px 0;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
}

.idioma img {
    height: 20px;
    width: 36px;
    min-height: 20px;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.idioma a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.tooltip {
    display: block;
    font: "Mukta", "Arial";
    margin: 0% 0px;
    padding: 0 0 0 0;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-weight: 800;
    width: 0;
    transition: width 0.7s ease-out;
}

.idioma:hover .tooltip{
    width: 60px;
}

.idiom {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #40628ebe;
    padding: 10px 0;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
}

.idiom img {
    height: 20px;
    width: 36px;
    min-height: 20px;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.idiom a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.idiom:hover .tooltip{
    width: 75px;
}

/* Main */
main {
    background-color: #ebebeb;
}

.slogan {
    padding: 0% 0% 0%;
}

.slogan div {
    padding: 5%;
}

#slogan {
    text-align: center; 
    font-family: 'Rubik Mono One', 'sans-serif';
    padding: 0% 5% 3%;
    margin: 0%;
    font-size: 180%
}

#subslogan {
    padding: 3% 5% 0%;
    margin: 0%;
    font-family: 'Rubik Mono One', 'sans-serif';
    font-size: 150%;
    text-align: center;
}



/* Títulos de páginas */
main h1{
    text-align: left;
    font-family: 'Rubik Mono One', 'sans-serif';
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 5% 20% 0;
}

.h1-artigos{
    padding: 5% 10% 0;
    font-size: 180%;
}

.h1-sobre {
    font-size: 180%;
}

.h1-arts {
    font-size: 200%;
    font-family: 'Arial', 'sans-serif';
    font-weight: 900;
}

.h2-arts {
    font-size: 130%;
    font-family: 'Arial', 'sans-serif';
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 1% 20% 0;
}

/* Títulos das divisões e estilização geral do corpo */
.corpo .right, .corpo .left {
    background: radial-gradient(#ebebeb98, #40404098);
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-blend-mode:lighten;
    font-family: 'Arial', 'sans-serif';
    font-size: 170%;
    font-weight: 900;
    padding: 1%;
    animation: 3s infinite alternate colorTr;
}

@keyframes colorTr {
    0% {
        background-color: rgba(255, 255, 255, 0.7);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.corpo .left {
    align-self: center;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    text-align: center;
    margin-right: auto;
}

.apresentacao {
    width: 60%;
    margin: 0% auto;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

.apresentacao h2 {
    background: radial-gradient(#ebebeb98, #40404098);
    height: 100%;
    background-blend-mode:lighten;
    font-family: 'Arial', 'sans-serif';
    font-size: 200%;
    font-weight: 900;
    padding: 1%;
    animation: 3s infinite alternate colorTr;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: pointer;
}

.apresentacao p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0% auto;
    width: 90%;
}

.apresentacao li {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0% auto;
    width: 90%;
}

.missao {
    height: 0;
    overflow: hidden;
    padding: 0% 5%;
    transition: margin 0.6s ease-out, transform 0.6s ease-out, opacity 0.6s ease-in;
    align-content: center;
    margin: 0 auto;
    transform: translateX(100%);
    opacity: 0;
}

.missao.active {
    height: initial;
    margin: 3% auto;
    transform: translateX(0%);
    opacity: 1;
}

/*
.publico.active {
    height: initial;
    margin: 3% auto;
    transform: translateX(0%);
    opacity: 1;
}

.resultado.active {
    height: initial;
    margin: 3% auto;
    transform: translateX(0%);
    opacity: 1;
} */

.corpo .right {
    margin-left: 30%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: left;
    padding-left: 10%;
}

.corpo div {
    padding: 5%;
}

.corpo p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0%;
}

.corpo ul {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0%;
}

/* secção de artigos */
.ultimos-artigos {
    margin: 0 5%;

    border-radius: 20px;
}

.ultimos-artigos .right {
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-blend-mode:lighten;
    font-family: 'Arial', 'sans-serif';
    font-size: 200%;
    font-weight: 900;
    padding: 3%;

    text-align: left;
    padding-left: 5%;
}

.ultimos-artigos div {
    padding: 5%;
}

.ultimos-artigos p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 5%;
    margin: 0%;
}

.art {
    padding: 0 5% 5% 5%;
}

.art div {
    padding: 2%;
    border: 1.5px solid #3a3a3a98;
    border-radius: 20px;
    background-color: #f7f7f7;
    border-top-color: rgb(180, 180, 180);
    border-top-width: 2px;
    border-left-color: rgb(180, 180, 180);
    border-left-width: 2px;
    border-bottom-color: #f7f7f7;
    border-right-color: #f7f7f7;           
}

.art p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 10% 0%;
}

.art .leia {
    text-align: right;
} 

.art h2 {
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Arial', 'sans-serif';
    font-size: 150%;
    padding: 2% 3% 2%;
    text-align: start; 
}

.art a {
    text-decoration: none;
    color: black;
}

.impar {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-in;
}

.impar.visible {
    transform: translateY(0%);
    opacity: 1;
}

/* Contato e formulário */
.contato {
    background-color: #ebebeb;
    padding: 0% 0% 0%;
}

.contato h2 {
    margin: 0% 20%;
    border-radius: 100px;
    text-align: center;
    background: radial-gradient(#ebebeb98, #40404098);
    height: 100%;
    background-blend-mode:lighten;
    font-family: 'Arial', 'sans-serif';
    font-size: 200%;
    font-weight: 900;
    padding: 1%;
    animation: 3s infinite alternate colorTr;
}

.contato div {
    padding: 5%;
}

.contato p {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding: 0% 20% 3%;
    margin: 0%;
}

.contato form {
    font-family: 'Mukta', 'Arial';
    font-style: oblique;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%
}

input, textarea {
    background-color: #f7f7f7;
    border-radius: 5px;
    border-top-color: rgb(180, 180, 180);
    border-top-width: 2px;
    border-left-color: rgb(180, 180, 180);
    border-left-width: 2px;
    border-bottom-color: white;
    border-right-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contato form button {
    border-radius: 50px;
    border: 0;
    width: 100px;
    color: #fff;
    height: 30px;
    background-color: rgb(39, 58, 160);
    cursor: pointer;
}

.contato form button:hover {
    background-color: rgba(39, 58, 160, 0.658);
}

/* estilização de artigos */
.corpo .artigo {
    font-family: 'Mukta', 'Arial';
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%
}

/* Responsividade */
@media screen and (min-width: 1280px) {
    .logo {margin-left: 100px;}
    .menu {right: 100px;}
    .lista-menu {gap: 80px}
}

@media screen and (max-width: 992px) {
    .lista-menu {
        gap: 25px;
    }

    .apresentacao {
        width: 80%;
    }
}

@media screen and (max-width: 768px) { 
    /* alterar menu */
    .menu-toggle {
        display: flex;
    }
    .lista-menu {
        display: none;
        position: absolute;
        top: 70px;
        right: -50px;
        background-color: #404040;
        flex-direction:row;
        width: 450px;
        padding: 10px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        gap: 15%;
        animation: 1s 0s menuAnime;
    }

    @keyframes menuAnime {
        0% {
            opacity: 0;   
        }

        100% {
            opacity: 1;
        }        
    }

    .lista-menu.active {
        display: flex;
    }

    #slogan {
        font-size: 150%;
    }

    #subslogan {
        font-size: 120%;
    }

    .h1-arts {
        font-size: 180%;
    }

    .h2-arts {
        font-size: 110%;
    }

    .apresentacao h2 {
        font-size: 160%;
    }

    .ultimos-artigos .right {
        font-size: 150%;
    }

    .corpo .right, .corpo .left {
        font-size: 150%;
    }

    .art h2 {
        font-size: 120%;
        font-weight: 800;
    }

    .art p {
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; line-clamp: 3; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
    }

    .contato h2 {
        font-size: 150%;
    }
}

@media screen and (max-width: 625px){  
    /* reduzir tamanho fonte slogan e subslogan */
    #slogan {
        font-size: 130%;
    }

    .corpo .right, .corpo .left {
        font-size: 120%;
    }

    .h1-arts {
        font-size: 150%;
        text-align: center;
    }

    .h2-arts {
        font-size: 100%;
        text-align: center
    }

    .apresentacao h2 {
        font-size: 150%
    }

    .ultimos-artigos .right {
        font-size: 130%;
    }

    .art h2 {
        font-size: 100%;
        font-weight: 800;
    }

    .corpo .artigo {
        padding-left: 10%;
        padding-right: 10%;
    }

    .contato h2 {
        font-size: 120%;
    }
} 

@media screen and (max-width: 540px) {   
    .logo {
        margin-left: 20px;
    }

    .menu {
        right: 20px;
    }
    
    .lista-menu {
        right: -20px;
        gap: 30px;
        width: 300px;
    }

    #subslogan {
        font-size: 100%;
    }

    .missao {
        padding: 0 0;
    }

    .contato p {
        padding: 0% 10% 3%;
    }
}

@media screen  and (max-width: 450px) {
    /* reduzir fonte titulos das chamadas de artigos */
    .logo {
        margin-left: 15px;
    }

    .menu {
        right: 15px;
    }

    .logo a img {
        height: 70px;
        width: 70px;
    }
    .logo a h1 {
        font-size: 170%;
    }
    
    .menu-toggle {
        font-size: 150%;
    }

    .lista-menu {
        top: 52px;
        right: -15px;
        flex-direction:column;
        width: 200px;
        padding: 10px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        gap: 15%;
    }

    .lista-menu li {
        padding: 5px 0;  
    }

    .space {
        height: 70px;
    }

    #subslogan {
        font-size: 75%;
    }

    .apresentacao {
        width: 90%;
    }

    .apresentacao h2 {
        font-size: 120%;
    }

    .ultimos-artigos .right {
        padding: 3% 0;
        font-size: 120%;
    }

    .art {
        padding: 0 0 5%;
    }

    .corpo .artigo {
        padding-left: 5%;
        padding-right: 5%;
    }

    .contato div form input, textarea {
        width: 210px;
    }

    .contato p {
        padding: 0% 5% 3%;
    }
}

/*
Resumo breakpoints:
Dispositivos móveis (Smartphones - retrato) = 320px a 480px
Dispositivos móveis (Smartphones - paisagem) = 480px a 768px
Tablets (modo retrato) = 768px a 1024px
Tablets (modo paisagem) ou notebooks menores = 1024px a 1280px
Desktops (resoluções normais) = 1280px a 1440px
Desktops grandes e monitores maiores = 1440px e superiores

notebook = width: 1365px
celular = width: 408px
monitor = width: 1915px
*/